encryptionsalt: v1:REPLACE_ME:=v1:REPLACE_ME:REPLACE_ME
config:
  gcp:project: YOUR_GCP_PROJECT_ID
  gcp:region: US
  storage:bucketName: my-pulumi-bucket
  storage:location: US
  storage:storageClass: STANDARD
  storage:versioning: "true"
  storage:uniformBucketLevelAccess: "true"
